@{
    ViewData["Title"] = "Account";
}

@model Blog.ViewModels.AccountViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
    <form class="frm" method="get" asp-controller="User" asp-action="Account">
        <div>
            <font size="5"><label class="alert-link">@Model.Name</label></font>
                @if (Model.Articles.Count != 0)
            {
            <div>
                @foreach (var a in @Model.Articles)
                {
                    <font size="5"><dl><a class="nav-link text-dark border" href="@Url.Action("ViewArticle", "Article", new { id = a.Id })">@a.Title</a></dl></font>
                }
                </div>
            }
            else
            {
                <div>
                    <label> У вас пока нет статей</label>
                </div>
            }
            <button type="button" class="bg-success"
                    onclick="location.href='@Url.Action("","NewArticle")'">
                Новая статья
            </button>
            <button type="button"
                    onclick="location.href='@Url.Action("UpdateUser","User",new {login = Model.User.FirstName})'">
                Редактировать пользователя
            </button>
        </div>
    </form>

</div>