@{
    ViewData["Title"] = "Article";
}

@model Blog.Models.Article

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
        <div>
            <div class="border">
            <font size="10"><dl class ="nav-link text-dark">@Model.Title</dl></font>
            </div>
        <h5>Описнание</h5>
            <div>
            <textarea cols="100" rows="7">@Model.Content</textarea>
            </div>
            <h5>Комментарии</h5>
        @foreach (var com in Model.Comments)
        {
            <dl class="border">
                @com.Content
                @if ( com.User.FirstName == User.Identity.Name)
                {
                    <div class="text-right">
                        <button class="btn btn-primary bg-success" type="submit"
                            onclick="location.href='@Url.Action("UpdateComment","Comment", new {id = com.Id})'"></button>
                        <button class="btn btn-primary bg-danger" type="submit"
                            onclick="location.href='@Url.Action("Delete","Comment", new {id = com.Id})'"></button>             
                    </div>
                }
            </dl>

        }
            <button class="bg-success" type="button"
                onclick="location.href='@Url.Action("CreateG","Comment", new { id = Model.Id })'">
                Добавить комментарий  
            </button>
            @if (Model.User.FirstName == User.Identity.Name)
            {
                <button type="button"
                onclick="location.href='@Url.Action("UpdateArticle","Article",new { id = Model.Id })'">
                    Редактировать
                </button>
            <button class="bg-danger" type="submit" onclick="location.href='@Url.Action("Delete","Article", new { id = Model.Id })'">
                    Удалить
                </button>
            }
        </div>

</div>